
*{
    margin: 0;
    padding: 0;
    }

    body{
        
    background-color: black;
    color: white;
    
   }


   .center{
    margin-right: -0.75rem;
    display: flex;
    background-color: black;
    width: none;
    align-items: center;
    justify-content: center;
}

.wave{
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg,skyblue,#fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
    display: flex;

}
.wave:nth-child(2){
    animation-delay: 0.1s;
}
.wave:nth-child(3){
    animation-delay: 0.2s;
}
.wave:nth-child(4){
    animation-delay: 0.3s;
}
.wave:nth-child(5){
    animation-delay: 0.4s;
}
.wave:nth-child(6){
    animation-delay: 0.5s;
}
.wave:nth-child(7){
    animation-delay: 0.6s;
}
.wave:nth-child(8){
    animation-delay: 0.7s;
}
.wave:nth-child(9){
    animation-delay: 0.8s;
}
.wave:nth-child(10){
    animation-delay: 0.9s;
}

@keyframes wave  {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

   



.navbar-expand-lg .navbar-nav .dropdown-menu {

    background-color: black;
    position: fixed;
}


.audio {
    max-width: -webkit-fill-available;
    height: 75px;
}




.card-img, .card-img-top {
    height: fit-content;
    height: 450px;
    padding: 10px;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    background-color: black;

}

.card-body {
    background-color: gold;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.row {
    background-color: black;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.1 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}






.navbar {
    margin-right: -0.75rem;
}

footer {
    margin-right: -0.75rem;
    text-align: center;
    padding: 10px;
    color: #800080;
    background-color: black;
    
}

.footer ul {
  list-style: none;
}


@media screen and (max-width:1000px) {
    
}